{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Menus</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Menusid</th>
                <td>{{ entity.menusId }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ entity.texto }}</td>
            </tr>
            <tr>
                <th>Orden</th>
                <td>{{ entity.orden }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
