{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AuxSerigrafia</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ entity.texto }}</td>
            </tr>
            <tr>
                <th>Completado</th>
                <td>{{ entity.completado }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Mostrar</th>
                <td>{{ entity.mostrar }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_auxserigrafia') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_auxserigrafia_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
