{% extends '_lte_ag_menu.html.twig' %}

{% block menu %}

    <li class="treeview {% if option is defined and (option == 'admin_usuarios' or option == 'admin_usuarios_new' or option == 'admin_usuarios_edit') %}active{% endif %}">
        <a href="#">
            <i class="fa fa-gavel"></i>
            <span>Usuarios</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li {% if option is defined and option == 'admin_usuarios' %}class="active"{% endif %}><a href="{{ path('admin_usuarios') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Lista</a></li>
            <li {% if option is defined and option == 'admin_usuarios_new' %}class="active"{% endif %}><a href="{{ path('admin_usuarios_new') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Nuevo</a></li>
        </ul>
    </li>

    <li class="treeview {% if option is defined and (option == 'menus' or option == 'menus_new' or option == 'menus_edit') %}active{% endif %}">
        <a href="#">
            <i class="fa fa-gavel"></i>
            <span>Menus</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li {% if option is defined and option == 'menus' %}class="active"{% endif %}><a href="{{ path('menus') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Lista</a></li>
            <li {% if option is defined and option == 'menus_new' %}class="active"{% endif %}><a href="{{ path('menus_new') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Nuevo</a></li>
        </ul>
    </li>

    <li class="treeview {% if option is defined and (option == 'auxdiodos' or option == 'auxdiodos_new' or option == 'auxdiodos_edit') %}active{% endif %}">
        <a href="#">
            <i class="fa fa-gavel"></i>
            <span>Aux Diodos</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li {% if option is defined and option == 'auxdiodos' %}class="active"{% endif %}><a href="{{ path('admin_auxdiodos') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Lista</a></li>
            <li {% if option is defined and option == 'auxdiodos_new' %}class="active"{% endif %}><a href="{{ path('admin_auxdiodos_new') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Nuevo</a></li>
        </ul>
    </li>

    <li class="treeview {% if option is defined and (option == 'auxsiplace' or option == 'auxsiplace_new' or option == 'auxsiplace_edit') %}active{% endif %}">
        <a href="#">
            <i class="fa fa-gavel"></i>
            <span>Aux Siplace</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li {% if option is defined and option == 'auxsiplace' %}class="active"{% endif %}><a href="{{ path('admin_auxsiplace') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Lista</a></li>
            <li {% if option is defined and option == 'auxsiplace_new' %}class="active"{% endif %}><a href="{{ path('admin_auxsiplace_new') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Nuevo</a></li>
        </ul>
    </li>

    <li class="treeview {% if option is defined and (option == 'ValidacionSerigrafia' or option == 'ValidacionSerigrafia_new' or option == 'ValidacionSerigrafia_edit') %}active{% endif %}">
        <a href="#">
            <i class="fa fa-gavel"></i>
            <span>Validación Serigrafia</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li {% if option is defined and option == 'ValidacionSerigrafia' %}class="active"{% endif %}><a href="{{ path('admin_validacion_serigrafia') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Lista</a></li>
            <li {% if option is defined and option == 'ValidacionSerigrafia_new' %}class="active"{% endif %}><a href="{{ path('admin_validacion_serigrafia_new') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Nuevo</a></li>
        </ul>
    </li>

    <li class="treeview {% if option is defined and (option == 'ValidacionPickPlace' or option == 'ValidacionPickPlace_new' or option == 'ValidacionPickPlace_edit') %}active{% endif %}">
        <a href="#">
            <i class="fa fa-gavel"></i>
            <span>Validación Pick & Place</span>
            <i class="fa pull-right fa-angle-right"></i>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li {% if option is defined and option == 'ValidacionPickPlace' %}class="active"{% endif %}><a href="{{ path('admin_validacion_pickplace') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Lista</a></li>
            <li {% if option is defined and option == 'ValidacionPickPlace_new' %}class="active"{% endif %}><a href="{{ path('admin_validacion_pickplace_new') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Nuevo</a></li>
        </ul>
    </li>

{% endblock %}
