{% extends '_lte_ag_menu.html.twig' %}

    {% block user_avatar %}
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ vich_uploader_asset(usuario, 'avatar') | imagine_filter('my_thumb') }}" class="img-circle" alt="Imagen del usuario">
            </div>
            <div class="pull-left info">
                <p>Namasté, {{usuario.nombre}}</p>

                <a href="{{ path('logout') }}"><i class="fa fa-circle text-success "></i> Desconectar</a>

            </div>
        </div>
    {% endblock %}

{% block menu %}

    {% set menu=0 %}

    {# Ahora dicen que tiene que mostrar todos los menus siempre #}

    {% if not log is defined %}
        {% set validacion1 = 0 %}
        {% set validacion2 = 0 %}
        {% set validacion3 = 0 %}
        {% set validacion4 = 0 %}
        {% set validacion5 = 0 %}
    {% else %}
        {% if log.validacion1 is defined %}
            {% set validacion1 = log.validacion1 %}
        {% else %}
            {% set validacion1 = 0 %}
        {% endif %}

        {% if log.validacion2 is defined %}
            {% set validacion2 = log.validacion2 %}
        {% else %}
            {% set validacion2 = 0 %}
        {% endif %}

        {% if log.validacion3 is defined %}
            {% set validacion3 = log.validacion3 %}
        {% else %}
            {% set validacion3 = 0 %}
        {% endif %}

        {% if log.validacion4 is defined %}
            {% set validacion4 = log.validacion4 %}
        {% else %}
            {% set validacion4 = 0 %}
        {% endif %}

        {% if log.validacion5 is defined %}
            {% set validacion5 = log.validacion5 %}
        {% else %}
            {% set validacion5 = 0 %}
        {% endif %}
        {# ********************************************************************************************************************************
        FIX menu
        Como ahora dicen que el menu tiene que salir siempre hackeamos. Para hacer que vaya step by step, eliminar la siguientes lineas
    **********************************************************************************************************************************#}
        {% if log is defined %}
            {% set menu=8 %}
        {% endif %}
        {# ********************************************************************************************************************************
            END FIX menu
        **********************************************************************************************************************************#}

    {% endif %}
        {% if app.request.attributes.get('_route') == 'dashboard' %}
            {% set menu=1 %}
        {% endif %}
        {% if app.request.attributes.get('_route') == "validacion1" or  app.request.attributes.get('_route') == "validacion1post" or validacion1 == 1 %}
            {% set menu=2 %}
        {% endif %}
        {% if app.request.attributes.get('_route') == "validacion2" or validacion2 == 1 %}
            {% set menu=3 %}
        {% endif %}
        {% if app.request.attributes.get('_route') == "validacion3" or validacion3 == 1 %}
            {% set menu=4 %}
        {% endif %}
        {% if app.request.attributes.get('_route') == "validacion4" or validacion4 == 1 %}
            {% set menu=5 %}
        {% endif %}
        {% if app.request.attributes.get('_route') == "validacion5" or validacion5 == 1 %}
            {% set menu=6 %}
        {% endif %}

        <li>
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-dashboard"></i> <span>Inicio</span>
            </a>
        </li>


    {% if menu > 1 %}
        <li>
            <a href="{{ path('validacion1', { operacion: log.operacion }) }}">
                <i class="fa fa-gavel"></i> <span>1-. Material</span>
            </a>
        </li>
    {% endif %}

    {% if menu > 2 %}
        <li>
            <a href="{{ path('validacion2', { operacion: log.operacion }) }}">
                <i class="fa fa-gavel"></i> <span>2-. Validación serigrafía</span>
            </a>
        </li>
    {% endif %}

    {% if menu > 3 %}
        <li>
            <a href="{{ path('validacion3', { operacion: log.operacion }) }}">
                <i class="fa fa-gavel"></i> <span>3-. Validación Pick&Place</span>
            </a>
        </li>
    {% endif %}

    {% if menu > 4 %}
        <li>
            <a href="{{ path('validacion4', { operacion: log.operacion }) }}">
                <i class="fa fa-gavel"></i> <span>4-. Validación Horno</span>
            </a>
        </li>
    {% endif %}

    {% if menu > 5 %}
        <li>
            <a href="{{ path('validacion5', { operacion: log.operacion }) }}">
                <i class="fa fa-gavel"></i> <span>5-. Validación AOI</span>
            </a>
        </li>
    {% endif %}

    {% if menu > 6 %}
        <li>
            <a href="{{ path('validacion6', { operacion: log.operacion }) }}">
                <i class="fa fa-gavel"></i> <span>6-. Completado</span>
            </a>
        </li>
    {% endif %}


{% endblock %}
