{% extends '::basefrontend.html.twig' %}

{% block title %}Cambio Bobina{% endblock %}

{% block ezkerrekomenua %}{% include '_lte_menu_user.html.twig' with {'option': 'dashboard'} %}{% endblock %}

{% block headertitulo %}CAMBIO  BOBINA{% endblock %}

{% block body -%}

    {% if error == 1 %}
        <div class='alert alert-danger alert-dismissable'>
            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>
            <h4><i class='icon fa fa-ban'></i> Alerta!</h4>
            Este componente es incorrecto.
        </div>
    {% endif %}

    <div class="row">

        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        OF:{{ of }}
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>
                        Operación: {{ operacion }}
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>

    <div class="row">

        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        BOBINA SALE:
                    </h3>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        BOBINA ENTRA:
                    </h3>

                    <form action="{{ path('cambio_bobina_lee_entra') }}" method="post">
                        <label for="of">Leer Código de barras:&nbsp;&nbsp;</label>
                        <input type="text" name="componente" id="componente" autoFocus>
                        <input type="hidden" name="of"          value="{{ of }}" >
                        <input type="hidden" name="operacion"   value="{{ operacion }}" >
                        <input type="hidden" name="log"         value="{{ log }}" >
                        <input type="hidden" name="logcambioid"    value="{{ logcambio.id }}" >
                    </form>

                </div>
            </div>
        </div>



    </div>




{% endblock %}
