{% extends '::basefrontend.html.twig' %}

{% block title %}Cambio Bobina{% endblock %}

{% block ezkerrekomenua %}&nbsp;{% endblock %}

{% block headertitulo %}CAMBIO  BOBINA COMPLETADO{% endblock %}

{% block body -%}

  <div class="row">

    <div class="col-lg-6 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>
            OF:{{ of }}
          </h3>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>
            Operación: {{ operacion }}
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>

  <div class="row">

    <div class="col-lg-6 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    BOBINA SALE: {{ logcambio.componenteSale }}
                </h3>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    BOBINA ENTRA:{{ logcambio.componenteEntra }}
                </h3>
            </div>
        </div>
    </div>
  </div>

    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>

<div class="row">

    <div class="col-lg-2 col-xs-2">
        &nbsp;
    </div>

    <div class="col-lg-8 col-xs-8">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3 style="text-align: center; color: #000000;" >
                    Proceso completado correctamente.
                </h3>
            </div>
        </div>
    </div>


    <div class="col-lg-2 col-xs-2">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-lg-2 col-xs-2">
        &nbsp;
    </div>

    <div class="col-lg-8 col-xs-8">
        <!-- small box -->
        <div class="small-box">
            <div class="inner">
                <a href="{{ path('menu') }}" class="btn btn-block btn-primary btn-lg">Terminar</a>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-xs-2">
        &nbsp;
    </div>
</div>



{% endblock %}
