{% extends '::basefrontend.html.twig' %}

{% block title %}Cambio Bobina{% endblock %}

{% block ezkerrekomenua %}&nbsp;{% endblock %}

{% block headertitulo %}CAMBIO  BOBINA{% endblock %}

{% block body -%}

  <div class="row">

    {% if error == 1 %}
      <div class='alert alert-danger alert-dismissable'>
        <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>
        <h4><i class='icon fa fa-ban'></i> Alerta!</h4>
        No se encuentra la OF.
      </div>
    {% endif %}

    {% if error == 2 %}
      <div class='alert alert-danger alert-dismissable'>
        <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>
        <h4><i class='icon fa fa-ban'></i> Alerta!</h4>
        Esa operación no corresponde a esta OF.
      </div>
    {% endif %}

    <div class="col-lg-6 col-xs-6">
      <!-- small box -->
      {% if (app.request.attributes.get('_route') == 'cambiobobina') or (error==1) %}
        <div class="small-box bg-aqua">
      {% else %}
        <div class="small-box bg-green">
      {% endif %}
        <div class="inner">
          <h3>
            OF:{{ of }}
          </h3>
          <p>
            {% if (app.request.attributes.get('_route') == 'cambiobobina') or (error==1) %}
              <form action="{{ path('cambio_bobina_lee_of') }}" method="post">
                <label for="of">Leer Código de barras:&nbsp;&nbsp;</label>
                <input type="text" name="of" id="of" autofocus>
              </form>
            {% endif %}
          </p>
        </div>
      </div>
    </div>

    {% if ((app.request.attributes.get('_route') == 'cambio_bobina_lee_of')
          and (error!=1)) or ((app.request.attributes.get('_route') == 'cambio_bobina_lee_operacion') and ( error == 2)) %}
        <div class="col-lg-6 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>
            Operación: {{ operacion }}
          </h3>
          <p>
            <form action="{{ path('cambio_bobina_lee_operacion' ) }}" method="post">
                <label for="of">Leer Código de barras:&nbsp;&nbsp;</label>
                <input type="text" name="operacion" id="operacion" autoFocus>
                <input type="hidden" name="of" value="{{ of }}" >
                <input type="hidden" name="logid" value="{{ log.id }}" >
            </form>
            </p>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
