{% extends '::basefrontend.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block ezkerrekomenua %}{% include '_lte_menu_user.html.twig' with {'option': 'dashboard'} %}{% endblock %}

{% block headertitulo %}Inicio{% endblock %}

{% block body -%}

  <div class="row">

    <div class="col-lg-6 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>
            OF:{{ of }}
          </h3>
          <p>

            <form action="{{ path('find_of_post') }}" method="post">
                <label for="of">Leer C贸digo de barras:&nbsp;&nbsp;</label>
                <input type="text" name="of" id="of" autoFocus>
            </form>

          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>
            Operaci贸n: {{ operacion }}
          </h3>
          <p>
            <form action="{{ path('find_of_operacion_post' ) }}" method="post">
                <label for="of">Leer C贸digo de barras:&nbsp;&nbsp;</label>
                <input type="text" name="operacion" id="operacion" autoFocus>
                <input type="hidden" name="of" value="{{ of }}">
            </form>
            </p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
          <div class="box-header">
              <h3 class="box-title">Leer c贸digo de barras del Material</h3>
              <div class="box-tools pull-left">
                  <form action="{{ path('addComponente') }}" method="post">
                      <input type="text" id="codbarcomponente" name="codbarcomponente" class="form-control input-sm pull-left" style="width: 150px;" />
                      <button class="btn btn-sm btn-default"><i class="fa fa-barcode"></i></button>
                      <input type="hidden" name="of" value="{{ of }}" />
                      <input type="hidden" name="operacion" value="{{ operacion }}" />
                  </form>
              </div>
          </div>
          <div class="box-body table-responsive" class="dataTables_wrapper form-inline" role="grid">
            <table id="example2_wrapper">
              <thead>
                <th>Componente</th>
                <th>Posicion Feeder</th>
                <th>Posicion MSL</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th></th>
              </thead>
              <tbody>
                {% for componente in componentes %}
                  <tr class="tr{{ loop.index0 }}">
                    <td class="td{{ loop.index0 }}">{{ componente.IDComponente }}</td>
                    <td class="td{{ loop.index0 }}">{{ componente.IDComponente }}</td>
                    <td class="td{{ loop.index0 }}">{{ componente.IDComponente }}</td>
                    <td class="td{{ loop.index0 }}">{{ componente.IDComponente }}</td>
                    <td class="td{{ loop.index0 }}">{{ componente.IDComponente }}</td>
                    <td class="td{{ loop.index0 }}">{{ componente.IDComponente }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div> {# box #}
    </div> {# col-xs-12 #}
  </div> {# row #}

{% endblock %}

{% block javascripts %}

  {{ parent() }}

  <script type="text/javascript">
    $(function() {
      $('#example2_wrapper').DataTable( {} );
    });
  </script>

{% endblock javascripts %}