{% extends '::basefrontend.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block ezkerrekomenua %}{% include '_lte_menu_user.html.twig' with {'option': 'dashboard'} %}{% endblock %}

{% block headertitulo %}Validación Serigrafía{% endblock %}

{% block body -%}

    <div class="row">

        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        OF:{{ log.of }}
                    </h3>

                    <p>

                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>
                        Operación: {{ log.operacion }}
                    </h3>
                </div>
            </div>
        </div>

    </div>

    {% if not log.validacion2 is  empty %}

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid bg-green">
                    <div class="box-header with-border">
                        <h3 class="box-title">Proceso validado</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>Proceso completado y validado.</p>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    {% elseif not log.codval2 is  empty %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid bg-yellow">
                    <div class="box-header with-border">
                        <h3 class="box-title">Esperando validación: {% if errovalidar == 1 %}<span
                                    class="errorValidacion">Código incorrecto!!</span>{% endif %}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form action="{{ path('completevalidacionencargado') }}" method="post">
                            <label for="codval">Código:</label>
                            <input id="codval" class="" type="text" name="codval" value="" autofocus/>
                            <input type="submit" value="Validar"/>
                            <input type="hidden" name="paso" value="2"/>
                            <input type="hidden" name="operacion" value="{{ operacion }}"/>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    {% endif %}



    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Validación Serigrafía</h3>
                </div>
                <div class="box-body table-responsive" class="dataTables_wrapper form-inline" role="grid">

                    <div id="divAlert" class=""></div>
                    <div id="divAlertInfo" class=""></div>

                    <table id="checklist">
                        <thead>
                        <th>Comprobar</th>
                        <th>Respuesta</th>
                        </thead>
                        <tbody>
                        {% for q in questions %}
                            <tr class="tr{{ loop.index0 }}">
                                <td class="td{{ loop.index0 }}">{{ q.pregunta }}</td>
                                <td>
                                    <button
                                        {% set break = false %}
                                        {% set aurkitua = false %}
                                        {% for d in log.logserigrafia if not break %}
                                            {% if d.pregunta == q %}
                                                {% if d.respuesta == "1" %}
                                                    class="btnCheck btn btn-sm btn-success btn-delete" data-logserigrafiaid="{{ d.id }}"
                                                {% else %}
                                                    class="btnCheck btn btn-sm btn-danger btn-delete" data-logserigrafiaid="{{ d.id }}"
                                                {% endif %}
                                                {% set break = true %}
                                                {% set aurkitua = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if aurkitua==false %}
                                            class="btnCheck btn btn-sm btn-danger btn-delete" data-logserigrafiaid=""
                                        {% endif %}  data-idlogdetail="{{ q.id }}">{% if aurkitua==false %}<i class="fa fa-exclamation-circle"></i>{% else %}<i class="fa fa-check"></i>{% endif %}</i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> {# box #}
        </div> {# col-xs-12 #}
    </div> {# row #}
    <input type="hidden" id="leidos" value=""/>
    <input type="hidden" id="logid" value="{{ log.id }}"/>
    <input type="hidden" id="miope" value="{{ log.operacion }}"/>
    <input type="hidden" id="countquestions" value="{{ questions | length }}"/>
    <input type="hidden" id="codval2" value="{{ log.codval2 }}" />

    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class='modal-title' id='myModalLabel'>COMPLETADO!</h4>
                </div>
                <div class="modal-body">
                    <p>Selecciona encargado para validar:</p>
                </div>
                <div class="modal-footer">
                    <a href='#' data-dismiss='modal' class='btn'>CERRAR</a>
                    {% for u in encargados %}

                        <a href="{{ path('dovalidacionencargado', {'encargado': u.id, 'operacion': operacion, 'paso': 2}) }}"
                           class='btn btn-primary'>{{ u.nombre }}</a>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">

        $(function () {

            $('body').on('click', '.btnCheck', function (event) {
                event.preventDefault();
                var that = $(this);
                var milogserigrafiaid = $(this).data('logserigrafiaid');
                var miid = $(this).data('idlogdetail');
                var milogid = $('#logid').val();
                var url = Routing.generate('api_1_post_validate1questions');
                var zenbatguztira = $('#countquestions').val();
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    data: {q: miid, logserigrafiaid: milogserigrafiaid, logid: milogid}
                })
                    .done(function (data) {
                        $(that).data("logserigrafiaid", data.id);

                        if (data.respuesta == "1") {
                            $(that).removeClass("btn-danger");
                            $(that).addClass("btn-success");
                            $(that).children('i').removeClass('fa-exclamation-circle');
                            $(that).children('i').addClass('fa-check');

                            var zenbat = $('.btn-success').length;

                            if (parseInt(zenbatguztira) === parseInt(zenbat)) {
                                $('#myModal2').modal('show');
                            }
                        } else {
                            $(that).removeClass("btn-success");
                            $(that).addClass("btn-danger");
                            $(that).children('i').removeClass('fa-check');
                            $(that).children('i').addClass('fa-exclamation-circle');
                        }
                    })
                    .fail(function () {
                        console.log("error");
                    })
                    .always(function () {
                        console.log("complete");
                    });

            });

            $('#checklist').DataTable({
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                bFilter: false,
                paging: false,
                "fnDrawCallback": function (oSettings) {
                    // var leidos = oSettings.fnRecordsTotal() );
                    $('#leidos').val(oSettings.fnRecordsTotal());
                }
            });

            $esperandovalidacion = $('#codval2').val();

            if ( ($esperandovalidacion !== "") && ($esperandovalidacion !== undefined) && ($esperandovalidacion.length > 0) ) {
                // Quitamos la habilidad de hacer click
                $('body').off('click','.btnCheck');
            } else {
                var zenbatguztira = $('#countquestions').val();
                var zenbat = $('.btn-success').length;

                if (parseInt(zenbatguztira) === parseInt(zenbat)) {

                    $('#myModal2').modal('show');

                }
            }
        });


    </script>

{% endblock javascripts %}