{% extends '::basefrontend.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block ezkerrekomenua %}{% include '_lte_menu_user.html.twig' with {'option': 'dashboard'} %}{% endblock %}

{% block headertitulo %}Validación Serigrafía{% endblock %}

{% block body -%}

  <div class="row">

    <div class="col-lg-6 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>
            OF:{{ log.of }}
          </h3>
          <p>

          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>
            Operación: {{ log.operacion }}
          </h3>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">

      <div class="box">
          <div class="box-header">
              <h3 class="box-title">Validación Serigrafía</h3>
          </div>
          <div class="box-body table-responsive" class="dataTables_wrapper form-inline" role="grid">

            <div id="divAlert" class=""></div>
            <div id="divAlertInfo" class=""></div>

            <table id="checklist">
              <thead>
                <th>Comprobar</th>
                <th>Respuesta</th>
              </thead>
              <tbody>
                {% for q in questions  %}
                  <tr class="tr{{ loop.index0 }}">
                    <td class="td{{ loop.index0 }}">{{ q.pregunta }}</td>
                    <td>
                        <button
                            {% set break = false %}
                            {% set aurkitua = false %}
                            {% for d in log.logserigrafia if not break %}
                                {% if d.pregunta == q %}
                                    {% if d.respuesta == "1" %}
                                            class="btnCheck btn btn-sm btn-success btn-delete" data-logserigrafiaid="{{ d.id }}"
                                        {% else %}
                                            class="btnCheck btn btn-sm btn-danger btn-delete" data-logserigrafiaid="{{ d.id }}"
                                    {% endif %}
                                    {% set break = true %}
                                    {% set aurkitua = true %}
                                {% endif %}
                            {% endfor %}
                            {% if aurkitua==false %}
                                class="btnCheck btn btn-sm btn-danger btn-delete" data-logserigrafiaid=""
                            {% endif %}  data-idlogdetail="{{ q.id }}"><i class="fa fa -trash-o"></i></button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div> {# box #}
    </div> {# col-xs-12 #}
  </div> {# row #}
  <input type="hidden" id="leidos" value="" />
  <input type="hidden" id="logid" value="{{ log.id }}" />
  <input type="hidden" id="miope" value="{{ log.operacion }}" />
  <input type="hidden" id="countquestions" value="{{ questions | length }}" />
{% endblock %}

{% block javascripts %}

  {{ parent() }}

  <script type="text/javascript">

    $(function() {
        var zenbatguztira = $('#countquestions').val();
        var zenbat =  $('.btn-success').length;

        if ( parseInt(zenbatguztira) === parseInt(zenbat) ) {
            var ope = $('#miope').val();
            var url = Routing.generate('dovalidacion2',{operacion: ope});
            var miTexto = "<div class='modal fade' id='myModal2' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>" +
                    "<div class='modal-dialog'>" +
                    "<div class='modal-content'>" +
                    "<div class='modal-header'>" +
                    "<button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" +
                    "<h4 class='modal-title' id='myModalLabel'>COMPLETADO!</h4>" +
                    "</div>" +
                    "<div class='modal-body'>" +
                    "Proceso completado correctamente. ¿Quieres terminar el proceso y pasar a la siguiente fase?" +
                    "</div>" +
                    "<div class='modal-footer'>" +
                    "<a href='#' data-dismiss='modal' class='btn'>CERRAR</a>" +
                    "<a href="+ url +" class='btn btn-primary'>ACEPTAR</a>" +
                    "</div>" +
                    "</div>" +
                    "</div>" +
                    "</div>";
            $('#divAlertInfo').append(miTexto);
            $('#myModal2').modal('show');

        }

        $('body').on('click', '.btnCheck', function(event) {
          event.preventDefault();
            var that = $(this);
            var milogserigrafiaid = $(this).data('logserigrafiaid');
            var miid = $(this).data('idlogdetail');
            var milogid = $('#logid').val();
            var url = Routing.generate('api_1_post_validate1questions');
            var zenbatguztira = $('#countquestions').val();
          $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            data: {q: miid, logserigrafiaid:milogserigrafiaid, logid:milogid}
          })
          .done(function(data) {
            $(that).data("logserigrafiaid", data.id);

            if ( data.respuesta == "1" ) {
                $(that).removeClass("btn-danger");
                $(that).addClass("btn-success");

                var zenbat =  $('.btn-success').length;

                if ( parseInt(zenbatguztira) === parseInt(zenbat) ) {
                    var ope = $('#miope').val();
                    var url = Routing.generate('dovalidacion2',{operacion: ope});
                    var miTexto = "<div class='modal fade' id='myModal2' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>" +
                            "<div class='modal-dialog'>" +
                            "<div class='modal-content'>" +
                            "<div class='modal-header'>" +
                            "<button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" +
                            "<h4 class='modal-title' id='myModalLabel'>COMPLETADO!</h4>" +
                            "</div>" +
                            "<div class='modal-body'>" +
                            "Proceso completado correctamente. ¿Quieres terminar el proceso y pasar a la siguiente fase?" +
                            "</div>" +
                            "<div class='modal-footer'>" +
                            "<a href='#' data-dismiss='modal' class='btn'>CERRAR</a>" +
                            "<a href="+ url +" class='btn btn-primary'>ACEPTAR</a>" +
                            "</div>" +
                            "</div>" +
                            "</div>" +
                            "</div>";
                    $('#divAlertInfo').append(miTexto);
                    $('#myModal2').modal('show');

                }

            } else {
                $(that).removeClass("btn-success");
                $(that).addClass("btn-danger");
            }
          })
          .fail(function() {
            console.log("error");
          })
          .always(function() {
            console.log("complete");
          });

        });


        $('#checklist').DataTable( {
            language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            bFilter: false,
            paging: false,
            "fnDrawCallback": function( oSettings ) {
                // var leidos = oSettings.fnRecordsTotal() );
                $('#leidos').val(oSettings.fnRecordsTotal());
            }
        });
    });


  </script>

{% endblock javascripts %}