{% extends '::base.html.twig' %}

{% block title %}Mantenimiento de Usuarios{% endblock %}

{% block ezkerrekomenua %}{% include '_lte_menu.html.twig' with {'option': 'admin_usuarios'} %}{% endblock %}

{% block headertitulo %}Mantenimiento de Usuarios{% endblock %}

{% block body -%}

<div class="box">
    <div class="box-header">

    </div>
    <!-- /.box-header -->

    <div class="box-body table-responsive">
        <a class="btn btn-primary" href="{{ path('admin_usuarios_new') }}">Nuevo Usuario</a>
        <br/>
        <br/>
        <table class="table table-condensed table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Admin</th>
                    <th>Email</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td class="tdacciones2">
                        <ul class="list-unstyled ullinea ulacciones">
                            <li class="enlinea">
                                <a href="{{ path('admin_usuarios_edit', { 'id': entity.id }) }}"><img
                                            src="{{ asset('bundles/backend/img/editar18.png') }}"
                                            alt="Editar">&nbsp;{{ "Editar" | trans }}</a>
                            </li>
                            <li class="enlinea"><a
                                        href="{{ path('admin_usuarios_delete', { 'id': entity.id }) }}"
                                        onclick="return confirm('¿Seguro que desea eliminar?');"><img
                                            src="{{ asset('bundles/backend/img/eliminar18.png') }}"
                                            alt="Eliminar">&nbsp;{{ "Eliminar" |trans }}</a>
                            </li>
                        </ul>
                    </td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.apellidos }}</td>
                    <td>{{ entity.admin }}</td>
                    <td>{{ entity.email }}</td>
                    <td><img src="{{ vich_uploader_asset(entity, 'avatar') | imagine_filter('my_thumb') }}"/></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>

{% endblock %}